body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    height: 100vh;
    background-color: #1E1E1E;
    /* font-family: 'Montserrat', sans-serif; */
}

* {
    color: #E4E5EA;
}

/*header*/

.header {
    margin-top: 57px;
    margin-bottom: 31px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 30px;
}

.header__container,
.main__container {
    position: relative;
}

.ball_1 {
    position: absolute;
    bottom: 15px;
    right: 393px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
    animation: rot_1 3s infinite linear;
}

@keyframes rot_1 {
    from {
        transform: rotate(0deg) translate(15px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(15px) rotate(-360deg);
    }
}


.ball_2 {
    position: absolute;
    left: 400px;
    top: 26px;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
    animation: rot_2 3s infinite linear;
}

@keyframes rot_2 {
    0% {
        transform: rotate(0deg) translate(15px) rotate(0deg);
    }

    25% {
        transform: rotate(180deg) translate(15px) rotate(-360deg);
    }

    50% {
        transform: rotate(90deg) translate(15px) rotate(-360deg);
    }

    75% {
        transform: rotate(60deg) translate(15px) rotate(-360deg);
    }

    100% {
        transform: rotate(10deg) translate(15px) rotate(-360deg);
    }
    
}

.ball_3 {
    position: absolute;
    right: 439px;
    bottom: 21px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
    animation: rot_1 5s infinite linear;
}

.red__light {
    position: absolute;
    left: -115px;
    top: 0;
    width: 311px;
    height: 311px;
    border-radius: 50%;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}

.ball {
    position: absolute;
    bottom: 4px;
    right: 333px;
}

.redBall {
    position: absolute;
    left: 356px;
    top: 15px;
    border-radius: 50%;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;

}

.logo__container {
    position: relative;
    margin-right: 53px;
}

.logo__text {
    position: absolute;
    left: 0;
    bottom: -29px;
    width: 165px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list-item+.menu__list-item {
    margin-left: 30px;
}

.menu__list-item>a {
    position:relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.menu__list-item>a::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
}

.menu__list-item>a:hover:before {
	width: 100%;
}

.menu__list-item>a::before {
	transition: width 0.35s;
}



.header__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 51px;
}

.header__social-link+.header__social-link {
    margin-left: 33px;
}

/*main*/

.main {
    padding-top: 93px;
    /* padding-bottom: 69px; */
}



.main__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 69px;
}

.main__text {
    align-self: flex-start;
}

.main__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    width: 362px;
    margin-bottom: 30px;
}

.main__title>span {
    display: block;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main__subtitle {
    width: 275px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
}

.main__info {
    margin-top: 15px;
    text-align: right;
}

.main__info-title {
    width: 291px;
    font-weight: 500;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
}

.main__info-title>span {
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main__info-gifts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 61px;
}

.main__info-gifts_mobile {
    display: none;
}

.main__info-gift_title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.main__info-gift_subtitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.main__info-btn {
    background: #4077F3;
    cursor: pointer;
    padding: 21px 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/*Footer*/

.footer {
    padding-top: 55px;
    padding-bottom: 20px;
}

.footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__content-container {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "about menu contact"
        "politic politic politic"
    ;
}

.footer__block-company {
    grid-area: about;
}

.footer__block-container {
    grid-area: menu;
    display: flex;
}

.footer__confpolicy {
    grid-area: politic;
    margin-top: 33px;
    text-align: right;
}

.footer__block-contact {
    text-align: right;
    grid-area: contact;
}

.footer__block-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    margin-bottom: 20px;
}

.footer__list-block {
    display: flex;
    align-items: center;
}

.footer__list-item+.footer__list-item {
    margin-top: 10px;
}

.footer__list-item.list__item-contact {
    margin-top: 20px;
}

.footer__menu+.footer__menu {
    margin-left: 52px;
}

.footer__social-link+.footer__social-link {
    margin-left: 10px;
}

.footer__item-contact+.footer__item-contact {
    margin-top: 19px;
}


.footer__confpolicy-text {
    margin-bottom: 5px;
}


.footer__confpolicy-text,
.footer__confpolicy-link {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
}

.footer__confpolicy-link {
    display: block;
    text-decoration: underline !important;
}

.footer__list-item_mobile {
    display: none;
}

@media (max-width:1280px) {
    .header {
        margin-top: 31px;
        background: #1E1E1E;
    }

    .header__menu {
        width: 100%;
        justify-content: space-between;
    }


    .header__contacts {
        display: none;
    }

    
    .main {
        background: url('../images/bgMobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        /* padding-bottom: 69px; */
        padding: 37px 0 61px;
    }

    .main__content{
        margin-bottom: 0;
    }

    .ball_1,.ball_2,.ball_3,.red__light,.logo__text{
        display: none;
    }

    .footer__content {
        align-items: center;
    }

    .footer__content,
    .footer__block-container {
        flex-direction: column;
    }

    .footer__content-container {
        width: auto;
        flex-direction: column;
        align-items: center;
    }


    .footer__block-contact {
        width: 100%;
        text-align: left;
    }

    .footer__content-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: none;
        gap: 30px;
    }

    .footer__block-company {
        grid-area: auto;
    }

    .footer__block-container {
        grid-area: auto;
    }

    .footer__confpolicy {
        grid-area: auto;
        margin-top: 20px;
        text-align: left;
    }

    .footer__block-contact {
        grid-area: auto;
    }

}

@media (max-width:1024px) {
    .main__content {
        flex-direction: column;
    }

    .main__text,
    .main__info {
        text-align: center;
    }

    .main__text,
    .main__title,
    .main__subtitle,
    .main__info-title {
        width: 100%;
    }
}


@media (max-width:768px) {
    .header {
        margin: 0;
        padding: 22px 4px;
    }

    .main__content {
        margin-bottom: 0;
    }

    .logo__container {
        display: none;
    }

    .menu {
        width: 100%;
    }

    .menu__list-item>a {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }

    .menu__list-item.certificate {
        display: none;
    }

    .main {
        padding: 37px 0 61px;
    }

    .main__title,
    .main__title>span {
        font-size: 36px;
        line-height: 44px;
    }

    .footer {
        padding-top: 43px;
        padding-bottom: 60px;
    }

    .footer__block-title {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__list-item {
        font-size: 14px;
        line-height: 17px;
    }

    .footer__list-item_mobile {
        display: block;
    }

    .footer__list-item_desctop {
        display: none;
    }
}

@media (max-width:426px) {
    .container {
        padding: 0 15px;
    }

    .main__text,
    .main__info {
        text-align: left;
    }

    .main__title {
        margin-bottom: 15px;
    }

    .main__info {
        margin-top: 45px;
    }

    .main__info-title {
        margin-bottom: 18px;
    }

    .main__info-title>span {
        text-transform: lowercase;
    }

    .main__info-gifts_mobile {
        display: flex;
        align-items: center;
    }

    .main__info-gifts_mobile>.left {
        margin-right: 10px;
    }

    .main__info-gifts {
        display: none;
    }

    .main__info-gift {
        display: flex;
    }

    .main__info-gift_mobile {
        position: relative;
        padding-left: 17px;
        display: block;
        font-family: 'Montserrat';
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .main__info-gift_mobile::after {
        position: absolute;
        content: "";
        left: 0;
        top: 9px;
        width: 10px;
        height: 1px;
        background: url('../images/line.svg');
    }

    .main__info-gift_mobile+.main__info-gift_mobile {
        margin-top: 15px;
    }

    .main__info-btn {
        display: none;
    }
}